<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Add Runner</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <h1>Add New Runner</h1>
  <form action="/runners/add" method="post">
    <div class="form-group">
      <label for="runnerName">Runner Name:</label>
      <input type="text" class="form-control" id="runnerName" name="name" placeholder="Enter runner name">
    </div>
    <div class="form-group">
      <label for="runnerAge">Runner Age:</label>
      <input type= "number" class="form-control" id="runnerAge" name="age" placeholder="Enter runner age">
    </div>
    <div class="form-group">
      <label for="runnerGender">Runner Gender:</label>
      <input type="text" class="form-control" id="runnerGender" name="gender" placeholder="Enter runner gender">
    </div>
    <button type="submit" class="btn btn-success">Create Runner</button>
  </form>
  <a href="/runners" class="btn btn-info">Back to Runners</a>

</body>
</html>